<!DOCTYPE html>
<html layout:decorate="admin/layout/layout.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Place</title>
  <script>
    async function uploadImageAndSubmit(event) {
        event.preventDefault(); // Ngăn form submit mặc định

        const fileInput = document.querySelector('input[type="file"]');
        const file = fileInput.files[0];
        if (!file) return alert("Vui lòng chọn hình ảnh!");

        const formData = new FormData();
        formData.append("image", file);
        try {
            const response = await fetch('/upload/image', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const imageUrl = await response.text();
                document.getElementById('image').value = imageUrl; // Gán URL vào trường ẩn "image"

                const formElements = document.getElementById('createPlaceForm').elements;
                for (let i = 0; i < formElements.length; i++) {
                    const element = formElements[i];
                    console.log(`${element.name}: ${element.value}`);
                }

                // Sau khi upload thành công, submit form
                document.getElementById('createPlaceForm').submit();
                //alert("Upload thành công!");
            } else {
                alert("Upload thất bại!");
            }
        } catch (error) {
            alert("Có lỗi xảy ra khi upload ảnh.");
        }
    }
  </script>
  <style>
    .leaflet-control-zoom{
        display: none !important;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 w-full">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center text-2xl">Chỉnh sửa Địa Danh</h3>
          <!-- Thêm ID để truy cập form -->
          <form id="createPlaceForm" class="signin-form d-flex" enctype="multipart/form-data" th:action="@{/place/save}" method="post" onsubmit="uploadImageAndSubmit(event)">
            <div class="col-md-6 pr-3">
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="text" class="form-control" name="name" placeholder="Tên địa danh" required="">
              </div>
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="text" class="form-control" name="address" placeholder="Địa chỉ" required="">
              </div>
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="text" class="form-control" name="description" placeholder="Mô tả địa danh" required="">
              </div>
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="text" class="form-control" name="hotline" placeholder="Hotline" required="">
              </div>
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="number" class="form-control" name="minPrice" placeholder="min price" required="">
              </div>
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="number" class="form-control" name="maxPrice" placeholder="max price" required="">
              </div>
              <div class="form-group" style="margin-bottom: 5%;">
                <input type="file" class="form-control" required>
                <input type="hidden" id="image" name="image"> <!-- Trường ẩn để lưu URL ảnh -->
              </div>

              <div class="form-group d-flex mb-3">
                <div class="col-6 pr-2">
                  <input type="text" id="geometrylatt" class="form-control" name="latitude" placeholder="Kinh độ" required>
                </div>
                <div class="col-6 pl-2">
                  <input type="text" id="geometrylong" class="form-control" name="longitude" placeholder="Vĩ độ" required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="map" style="height: 400px;"></div>

              <div class="form-group mt-5">
                <button type="submit" class="form-control btn btn-primary submit px-3">Lưu</button>
              </div>
            </div>
          </form>
          <button class="btn btn-primary">Back</button>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    $(document).ready(function() {
        var map = L.map('map').setView([10.68017547433677, 105.06905204028709], 13); // Tọa độ khởi đầu
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var marker;
        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            document.getElementById('geometrylatt').value = e.latlng.lat;
            document.getElementById('geometrylong').value =  e.latlng.lng;
        });
    });
  </script>
</div>
</body>
</html>
